#header {
    font-family: 'Lucida Console', monospace;
}

#timer {
    font-family: 'Lucida Console', monospace;
    font-size: large;
}

#message {
    font-family: 'Lucida Console', monospace;
}

#h3 {
    font-family: 'Lucida Console', monospace;
}